<!doctype html>
<html>
<head>
    <title>Authenticator</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
        article {
          border-bottom: 5px solid #aaa;
          margin-bottom: 2em;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-smile-o"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/posts" class="btn btn-default btn-sm">Create New Blog Post</a>
    </div>

    <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <section class="row">
      <% for (var index = 0; index < user.posts.length; ++index) {
          var post = user.posts[index]; %>
        <article>
        <header><h2><%= post.title %></h2></header>
        <% if (typeof image !== 'undefined') { %>
        <image src="<%= image %>" style="width: 100%;height: auto;" />
        <% } %>
        <%- post.renderedContent() %>
        </article>
      <% } %>
    </section>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="well">
            <h3><span class="fa fa-laptop"></span> Local</h3>

                <p>
                    <strong>id</strong>: <%= user.id %><br>
                    <strong>username</strong>: <%= user.username %><br>
                    <strong>email</strong>: <%= user.email %><br>
                    <strong>password</strong>: <%= user.password %><br>
                    <strong>Blog Title</strong>: <%= user.blogTitle %><br>
                    <strong>Blog Description</strong>: <%= user.blogDescription %><br>
                </p>
        </div>

</div>
</body>
</html>
